#commands:
  # copy_key_cert:
   #  command: |
    #   aws s3 cp s3://zuck-jenkins/httpd.key /etc/httpd.key
     #  aws s3 cp s3://zuck-jenkins/httpd.crt /etc/httpd.crt
     #  chown root:root /etc/pki/tls/certs/httpd.crt /etc/pki/tls/certs/httpd.key
     #  chmod 400 /etc/pki/tls/certs/httpd.crt /etc/pki/tls/certs/httpd.key
 commands:
   01_copying_pem_file:
     command: aws s3 cp s3://zuck-jenkins-two/rds-combined-ca-bundle.pem /etc
    
 # 02_download file:
  #  command: wget https://s3.amazonaws.com/rds-downloads/rds-combined-ca-bundle.pem
    
     # cd /home/ec2-user
     # wget https://s3.amazonaws.com/rds-downloads/rds-combined-ca-bundle.pem
     
     
     commands: 
  01_copy_nltk_data:
    command: aws s3 cp s3://<my_bucket>/nltk_data /usr/local/share/
