option_settings:
  aws:elasticbeanstalk:application:environment:
  #  AUTH_KEY: 'test test'
  #  SECURE_AUTH_KEY: 'test'
  #  LOGGED_IN_KEY: 'test'
  #  NONCE_KEY: 'test'
  #  AUTH_SALT: 'test'
  #  SECURE_AUTH_SALT: 'test'
  #  LOGGED_IN_SALT: 'test'
  #  NONCE_SALT: 'test'
    RDS_HOSTNAME: 'test'
    RDS_PORT: '3306'
    RDS_DB_NAME: 'ebdb'
    RDS_USERNAME: 'test'
    RDS_PASSWORD: 'test'
    HTTPS: 'test'
